.App{
  min-height: 100vh;
  min-width: 100vw;
  background-color: #0E0004;
  color: #F1E9DA;
  font-family: "Lucida Console", Courier, monospace;
}

a, h1, h2, h3, h4, p, button {
  font-family: "Lucida Console", Courier, monospace;
}

button.ui.button{
  background-color: #F1E9DA;
  color: #0E0004;
  font-family: "Lucida Console", Courier, monospace;
  border-radius: 25px;
}

button.ui.button:hover{
  background-color: #D90368;
}

button.ui.button:active{
  background-color: #541388;
  font-style: italic;
}
