
/* TITLE JASON MELTON */
.title-name{
    display: flex;
    justify-content: center;
    padding: 3vh 0 0 0;
}

/* NAVBAR CONTAINER */
div.ui.segment.navbar-container{
    height: 10vh;
    background-color: #0E0004;
    color: #F1E9DA;
    margin: auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 

Make items disappear when screen gets to be a certain size:
@media screen and (max-width: 600px) {
    div.ui.segment.navbar-container{ display: none }
} 

*/

/* NAVBAR ITEMS */
div.ui.segment.navbar-item{
    margin: 0;
    background-color: #0E0004;
    color: hsl(39, 45%, 90%);  
    flex-shrink: 0.5;
}

div.ui.segment.navbar-item:hover{
    background-color: #0E0004;
    color: #D90368;
    font-style: italic;
}

div.ui.segment.navbar-item:active{
    background-color: #0E0004;
    color: #541388;
    font-style: italic;
    text-decoration: underline;
}

h3.clicked{
    background-color: #0E0004;
    font-style: italic;
    text-decoration: underline;
}

img.navbar-star{
    height: 2em;
}

h3 { 
    white-space: nowrap; 
}
